mgl-map {
    position: fixed;
    height: 100%;
    width: 100%
}

::ng-deep .marker {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: grey;
    color: white;
    // box-shadow: 4px 4px 4px 0 rgba(226,226,226,0.50);
    z-index: 701;
}

::ng-deep .marker:active {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(143, 24, 89, 0.7);
    color: white;
    // box-shadow: 4px 4px 4px 0 rgba(226,226,226,0.50);
    z-index: 701;
}



::ng-deep .active {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(112, 0, 62);
    color: white;
    // box-shadow: 4px 4px 4px 0 rgba(226,226,226,0.50);
    z-index: 701;
    animation: pulse 2s infinite
}


// Pulse animation like: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(143, 24, 89, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(143, 24, 89, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(143, 24, 89, 0);
	}
}